<div class="container">
    <h2>Add Products</h2>
    <form [formGroup]="myform" (ngSubmit)="onSubmit(myform)">
      <div class="form-group">
        <label for="text">Name:</label>
        <input type="text" class="form-control"  placeholder="Enter name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="number">Price:</label>
        <input type="number" class="form-control" placeholder="Enter price"formControlName="price">
      </div>
      <div class="form-group">
        <label for="text">Image URL:</label>
        <input type="text" class="form-control" placeholder="Enter URL" formControlName="image">
      </div>
      <div class="form-group">
        <label for="text">Description:</label>
        <input type="text" class="form-control" placeholder="Enter Description" formControlName="description">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>